:root{
    background-color: #F7EBFF;
    font-family: 'Roboto', sans-serif;
}

.MuiAccordionSummary-content{
    margin: 10px 0 !important;
}

.Mui-focusVisible{
    background-color: white !important;
}

.MuiAccordionDetails-root{
    padding: 0 16px !important;
}

.MuiAccordion-root{
    border-radius: 10px !important;
}