:root{
    background-color: #F7EBFF;
    font-family: 'Roboto', sans-serif;
}

.MuiAccordionSummary-content{
    margin: 10px 0 !important;
}

.Mui-focusVisible{
    background-color: white !important;
}

.MuiAccordionDetails-root{
    padding: 0 16px !important;
}

.MuiAccordion-root{
    border-radius: 10px !important;
}

.card-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    grid-gap: 20px;
    margin: 100px 20px 0;
    justify-content: center;
}

.MuiCard-root{
    border-radius: 10px !important;
    height: 100%;
    background-color: lightskyblue !important;
}

.MuiCardContent-root{
    padding-top: 0 !important;
    max-height: 100px;
    overflow: auto;
}

.MuiCardHeader-action{
    margin: -11px -11px !important;
}