:root{
    background-color: #F7EBFF;
    font-family: 'Roboto', sans-serif;
}

.MuiAccordionSummary-content{
    margin: 10px 0 0 0 !important;
}

.Mui-focusVisible{
    background-color: white !important;
}